# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\xjaStudy\dubbodemo2easybuy_parent\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
